<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-toggle="modal"
        data-target="#add-modal"
      >
        Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Obat</th>
              <th>Jenis Obat</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < obat.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= obat[i].namaObat %></td>
              <td><%= obat[i].jenisObat %></td>
              <td>Rp. <%= obat[i].harga %></td>
              <td class="text-center">
                <form action="/obat/<%= obat[i].id %>?_method=DELETE" 
                  method="POST">
                  <a 
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= obat[i].id %>"
                  data-namaobat="<%= obat[i].namaObat %>"
                  data-jenisobat="<%= obat[i].jenisObat %>"
                  data-harga="<%= obat[i].harga %>"
                  data-deskripsiobat="<%= obat[i].deskripsiObat %>"
                  data-efeksamping="<%= obat[i].efekSamping %>"
                  data-dosis="<%= obat[i].dosis %>"
                  data-kontraindikasi="<%= obat[i].kontraindikasi %>"
                    >Edit</a
                  >
                  <button 
                  type="submit" 
                  class="btn btn-outline-danger btn-sm" 
                  onclick="return confirm('Yakin untuk menghapus data?');">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>